@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas {
  display: block;
}

.content {
  position: absolute;
  z-index: 1;

  width: 100%;
  padding: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  &.bottom {
    bottom: 0;
  }
}

#exercise-name {
  padding: 10px;
  font-size: 25px;
  font-weight: 200;
  color: white;

  border-radius: 5px;
  background-color: #0000FF;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.panel {
  margin: auto;
  border: 1px solid black;
}

#count {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circle {
  margin-right: 80px;
  width: 80px;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;

  background-color: #eeeeeeff;

  &.active {
    background-color: #00ff00ff;
  }

  &:last-child {
    margin-right: 0;
  }
}
